spring:
  application:
    name: customer-orders-dao-migrations

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: password

  sql:
    init:
      mode: never

  flyway:
    enabled: true
    locations: classpath:migration
    baseline-on-migrate: true
    clean-disabled: true

server:
  port: 8080

logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.boot.autoconfigure.flyway: DEBUG
    org.springframework.jdbc.core: DEBUG
